* {
  margin: 0;
  padding: 0;
}

// VARIABLES

$bbb: 1px solid red;
$font-extra-bold: 'Syne-Extra-Bold', sans-serif;
$font-bold: 'Syne-Bold', sans-serif;
$font-medium: 'Syne-Medium', sans-serif;
$font-regular: 'Syne-Regular', sans-serif;

$color-black: #1A1D27;

@font-face {
  font-family: 'Syne-Extra-Bold';
  src: url('../font/Syne/Syne-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne-Bold';
  src: url('../font/Syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne-Regular';
  src: url('../font/Syne/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne-Medium';
  src: url('../font/Syne/Syne-Medium.ttf') format('truetype');
}

//<!--Navbar with Breadcrumb START!-->
.menu__header {
  height: 88px;
  background-color: #4934DB;

  .menu__area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .menu {
      .navbar {
        padding: 0;
        position: relative;
        z-index: 2;
        line-height: 3.6;

        &-brand {
          color: white;
          font-family: $font-extra-bold;
          font-size: 24px;
          padding: 0;
          margin: 0;
        }

        &-collapse {
          justify-content: end;

          .navbar-nav {
            .nav-item:not(:last-child) {
              margin: 0 20px;
              text-transform: uppercase;

              .nav-link {
                font-family: $font-regular;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: white;
                transition: all 0.3s;

                &:hover {
                  color: #97F793;
                }
              }
            }

            .nav-item__contact {
              margin-left: 20px;

              .nav-link {
                font-family: $font-bold;
                font-size: 18px;
                text-align: center;
                line-height: 144%;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.header {
  padding-top: 80px;
  padding-bottom: 50px;
  background: #4934DB;

  &__brand-text {
    display: flex;
    align-items: center;

    .brand__line {
      width: 45px;
      height: 1px;
      background: #97F793;
      margin-right: 12px;
    }

    .brand__text {
      padding: 0;
      margin: 0;
      color: #97F793;
      font-family: $font-bold;
      font-size: 24px;
    }
  }

  .header__title {
    margin-top: 24px;
    color: #fff;
    font-family: $font-bold;
    line-height: 104px;
    font-size: 120px;
  }

  .header__description {
    margin-top: 28px;
    font-family: $font-regular;
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
  }

  .header__button {
    margin-top: 20px;
    background: $color-black;
    font-family: $font-medium;
    width: 242px;
    height: 56px;
    font-size: 15px;
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      color: $color-black;
      background: #fff;
      border: 1px solid $color-black;
    }
  }

  .header__image {
    position: relative;
    margin-top: 50px;
    width: 100%;
    border-radius: 16px;

    img {
      width: 100%;
    }

    .productivity {
      min-width: 203px;
      width: 203px;
      max-width: 600px;
      height: 134px;
      position: absolute;
      left: 20px;
      bottom: 20px;
      border-radius: 10px;
      background: #97F793;
      padding: 15px 25px;
      overflow: hidden;

      .productivity__count {
        font-family: $font-bold;
        font-size: 32px;
        line-height: 40px;
      }

      .productivity__text {
        font-size: 16px;
        line-height: 24px;
        font-family: $font-regular;
        color: rgba(26, 29, 39, 0.8);
      }
    }
  }

  .row__partners {
    margin-top: 75px;
    border-top: 2px solid rgba(255, 255, 255, .3);
    border-left: 2px solid rgba(255, 255, 255, .3);
    position: relative;

    .row__partners-logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .partners-star-icon {
      position: absolute;
      top: -15px;
      left: -15px;
    }
  }
}

.menu__breadcrumb {
  height: 360px;
  background-image: url("../img/png/bredcrumb.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .menu__area {
    height: 88px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    //z-index: 3;
    .menu {
      height: 88px;

      .navbar {
        padding: 0;
        position: relative;
        z-index: 2;
        line-height: 3.6;

        &-brand {
          color: white;
          font-family: $font-extra-bold;
          font-size: 24px;
          padding: 0;
          margin: 0;
        }

        &-collapse {
          justify-content: end;

          .navbar-nav {
            .nav-item:not(:last-child) {
              margin: 0 20px;
              text-transform: uppercase;

              .nav-link {
                font-family: $font-regular;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: white;
                transition: all 0.3s;

                &:hover {
                  color: #97F793;
                }
              }
            }

            .nav-item__contact {
              margin-left: 20px;

              .nav-link {
                font-family: $font-bold;
                font-size: 18px;
                text-align: center;
                line-height: 144%;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .breadcrumb__area {
    height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;

    .breadcrumb {
      background: transparent;

      &__title {
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: $font-bold;
        font-size: 64px;
        line-height: 72px;
      }

      &__item {
        width: 100%;
        text-align: center;
        font-family: $font-bold;
        font-size: 24px;
        line-height: 28px;
        color: #97F793;

        a {
          color: #fff;
        }
      }

      ul {
        list-style: none;

        li {
          a {
            color: #fff;
          }

        }
      }
    }
  }
}

.section__about {
  .about__brand-name {
    color: #E374FF;
    font-family: $font-bold;
    font-size: 18px;
  }

  .about__title {
    font-size: 64px;
    font-family: $font-bold;
    line-height: 72px;
    color: $color-black;
  }
.about__description{
  font-family: $font-regular;
  line-height: 24px;
  color: rgba(26, 29, 39, 0.6);
}
  .about__buttons{
    .about__buttons-more{
      margin-top: 20px;
      background: $color-black;
      font-family: $font-medium;
      width: 218px;
      height: 56px;
      font-size: 15px;
      border-radius: 0;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        color: $color-black;
        background: #fff;
        border: 1px solid $color-black;
      }
    }
  }
}


.section_team {
  .employee {
    cursor: pointer;
    position: relative;

    .employee__contact {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 32px;
      opacity: 0;
      transition: all .3s;
    }

    .social {
      width: 32px;
      height: 32px;
      background: $color-black;
      border: 1px solid $color-black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .social:not(:first-child):not(:last-child) {
      margin: 10px 0;
    }

    &:hover .employee__contact {
      opacity: 1;
    }

    .employee__image {
      width: 100%;
    }

    .employee__name {
      margin-top: 20px;
      font-family: $font-bold;
      font-size: 24px;
      line-height: 28px;
      color: #1A1D27;
      margin-bottom: 0;
    }

    .employee__position {
      font-family: $font-regular;
      font-size: 16px;
      line-height: 24px;
      color: rgba(26, 29, 39, 0.6);
    }
  }

  .join_us {
    background: #97F793;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    height: 120px;
    padding: 0 50px;
    margin-top: 40px;
    margin-bottom: 120px;
    line-height: 120px;

    .join_us-title {
      font-family: $font-bold;
      font-size: 32px;
    }

    .join_us-link {
      text-decoration: none;
      font-family: $font-medium;
      font-size: 15px;
      color: $color-black;
      letter-spacing: 1px;
    }
  }
}

//<!--Navbar END!-->
//<!--CONTACT_COUNTRY START!-->
.contact_country {
  padding: 100px 0;

  .row__country {
    border-right: 2px solid rgba(26, 29, 39, 0.1);
    border-bottom: 2px solid rgba(26, 29, 39, 0.1);
    padding-bottom: 100px;
    position: relative;

    &-star {
      position: absolute;
      bottom: -16.5px;
      right: -16.5px;
    }

    .menu {
      .menu__title {
        font-size: 44px;
        line-height: 54px;
        color: #1A1D27;
        font-family: $font-bold;
      }

      ul {
        li {
          list-style: none;
          font-family: $font-regular;
          font-size: 16px;
          line-height: 24px;
          cursor: pointer;

          a {
            color: #1A1D27;
            text-decoration: none;
          }
        }
      }
    }
  }

  .row__map-area {
    border-left: 2px solid rgba(26, 29, 39, 0.1);
    padding-top: 75px;

    .contact__map {
      height: 100%;
    }

    .contact__form {
      .contact__form-title {
        font-size: 44px;
        line-height: 54px;
        font-family: $font-bold;
      }

      .form-group {
        margin-bottom: 0;
      }

      input {
        width: 526px;
        height: 56px;
        border: 1px solid rgba(26, 29, 39, 0.4);
        border-radius: 0;
        padding: 16px;
        background: #fff;
        font-family: $font-regular;

        &::placeholder {
          font-family: $font-regular;
        }
      }

      textarea {
        border-radius: 0;
        font-family: $font-regular;
        border: 1px solid rgba(26, 29, 39, 0.4);
        padding: 16px;
        width: 526px;
        max-width: 526px;
        height: 160px;
        min-height: 56px;
        max-height: 260px;

        &::placeholder {
          font-family: $font-regular;
        }
      }

      input[type='submit'] {
        background: #1a1d27;
        font-family: $font-medium;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        line-height: 107%;
        letter-spacing: 0.07em;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        transition: all .3s;

        &:hover {
          background: #fff;
          color: #1a1d27;
        }
      }
    }
  }
}

//<!--CONTACT_COUNTRY END!-->


//<!--FOOTER START!-->
.footer {
  min-height: 554px;
  background: #1A1D27;
  padding: 110px 0;
  color: #ECEEF2;

  .menu {
    &__title {
      font-family: $font-bold;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 30px;
      cursor: pointer;

      &-logo {
        margin-top: 20px;
      }
    }

    ul {
      li {
        list-style: none;

        a {
          line-height: 2.3;
          font-family: $font-regular;
          font-size: 16px;
          color: white;
          text-decoration: none;
          opacity: .7;
          transition: all .2s;

          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    margin-top: 80px;

    .social__link {
      a {
        margin: 0 8px;

        &:first-child {
          margin: 0;
        }
      }
    }

    .legal__link {
      margin-left: 50px;

      a {
        color: #fff;
        text-decoration: none;
        opacity: .7;
        margin-right: 10px;
        font-family: $font-regular;
        transition: all .2s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .copyright {
    margin-top: 80px;
    font-family: $font-regular;
    text-align: center;
    opacity: .7;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

}

//<!--FOOTER END!-->