* {
  margin: 0;
  padding: 0;
}

// VARIABLES

$bbb: 1px solid red;
$font-regular: 'Syne-Regular', sans-serif;
$font-bold: 'Syne-Bold', sans-serif;

@font-face {
  font-family: 'Syne-Bold';
  src: url('../font/Syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne-Regular';
  src: url('../font/Syne/Syne-Regular.ttf') format('truetype');
}

//<!--Navbar with Breadcrumb START!-->
.menu__breadcrumb {
  height: 360px;
  background-image: url("../img/png/bredcrumb.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .menu__area {
    height: 88px;
    border-bottom: 1px solid white;
    opacity: .2;
  }

  .breadcrumb__area {
    height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;

    .breadcrumb {
      background: transparent;

      &__title {
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: $font-bold;
        font-size: 64px;
        line-height: 72px;
      }

      &__item {
        width: 100%;
        text-align: center;
        font-family: $font-bold;
        font-size: 24px;
        line-height: 28px;
        color: #97F793;

        a {
          color: #fff;
        }
      }

      ul {
          list-style: none;
        li {
          a {
            color: #fff;
          }

        }
      }
    }
  }
}

//<!--Navbar END!-->


//<!--FOOTER START!-->
.footer {
  min-height: 554px;
  background: #1A1D27;
  padding: 110px 0;
  color: #ECEEF2;

  .menu {
    &__title {
      font-family: $font-bold;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 30px;
      cursor: pointer;

      &-logo {
        margin-top: 20px;
      }
    }

    ul {
      li {
        list-style: none;

        a {
          line-height: 2.3;
          font-family: $font-regular;
          font-size: 16px;
          color: white;
          text-decoration: none;
          opacity: .7;
          transition: all .2s;

          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    margin-top: 80px;

    .social__link {
      a {
        margin: 0 8px;

        &:first-child {
          margin: 0;
        }
      }
    }

    .legal__link {
      margin-left: 50px;

      a {
        color: #fff;
        text-decoration: none;
        opacity: .7;
        margin-right: 10px;
        font-family: $font-regular;
        transition: all .2s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .copyright {
    margin-top: 80px;
    font-family: $font-regular;
    text-align: center;
    opacity: .7;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

}

//<!--FOOTER END!-->